<?xml version="1.0" encoding="utf-8"?>
<RunSettings>

  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
    <Parameter name="webAppUrl" value="moggles.northernsafety-dev.com/" />
    <Parameter name="user" value ="EnterUserHere" />
    <Parameter name="password" value ="EnterPasswordHere"></Parameter>
  </TestRunParameters>

  </RunSettings>