<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="4.8.0" targetFramework="net462" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net462" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="EPPlus" version="4.5.3.1" targetFramework="net462" />
  <package id="Fare" version="2.1.1" targetFramework="net462" />
  <package id="FluentAssertions" version="5.0.0" targetFramework="net462" />
  <package id="FluentAssertions.Json" version="5.0.0" targetFramework="net462" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net462" />
  <package id="NSTestFramework" version="1.19.226.2" targetFramework="net462" />
  <package id="Selenium.Chrome.WebDriver" version="76.0.0" targetFramework="net462" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net462" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net462" />
</packages>