// Custom variable to overide SASS will go here.

$black: #000000;
$gray-darker: #222222;
$gray-dark: #333333;
$gray: #555555;
$gray-light: #777777;
$gray-lighter: #cccccc;
$gray-lightest: #eeeeee;
$white: #ffffff;

$navy-dark: #172843;
$navy: #2b3951;
$navy-light: #465c83;
$red-darker: #812403;
$red-dark: #a94442;
$red: #ed1c24;
$red-light: #fffaf9;
$orange: #ff7711;
$orange-light: #ffddbf;
$yellow: #e6bc57;
$yellow-light: #fcfaeb;
$blue: #337ab7;
$blue-medium: #6d9abe;
$blue-light: #8ebce1;
$blue-lighter: #d9edf7;
$green: #86c086;
$green-light: #b5f2b5;
$green-lighter: #dff0d8;
$purple: #a9169c;

$brand-primary: $blue;
$brand-success: $green;
$brand-info: $blue-light;
$brand-warning: $yellow;
$brand-danger: $red;